body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #EB552C;
}

/* HEADER */
header {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    background-color: blueviolet;
    background-image: url('./images/Group\ 512353.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;

    color: #fff;
}

.logo {
    margin-top: 40px;
    margin-left: 60px;
}

nav {
    grid-column: 6 / 13;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    line-height: 20px;
    margin-top: 50px;

}

aside {
    grid-row: 2 / 3;
    grid-column:  3 / 11;
}

aside > h1 {
    font-size: 96px;
    
}

aside > p {
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    opacity: 0.7;
}

/* MAIN */
main {
    display: grid;

}

/* FOOTER */
footer {
    display: grid;

}